<footer>
  <nav class="navbar fixed-bottom navbar-dark bg-dark">
      <h3 class="display-6 navbar-text">&copy;2023 All rights reserved &nbsp;&nbsp;&nbsp;Student name: Chan, Kam Fai
        &nbsp;&nbsp;&nbsp;Student ID: 301278942</h3>
  </nav>
</footer>
